<section class="footer_wrp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer_social_data">
                    <div class="footer_logo">
                        <a href="#">
                            <img src="./static/images/Yourbestcandidateai.svg"
                                style="filter: hue-rotate(66deg) saturate(150%);" alt="">
                        </a>
                    </div>
                    <div class="footer_text">
                        <p>
                            <a href="mailto:support@yourbestcandidate.ai" target="_blank" rel="noopener noreferrer">
                                support@yourbestcandidate.ai </a>
                        </p>
                    </div>
                    <div class="footer_icon">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.x.com/" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="company_data">
                    <h6> Company </h6>
                    <ul>
                        <!-- <li>
                                <a href="#">
                                    About
                                </a>
                            </li> -->
                        <li>
                            <a data-bs-toggle="modal" data-bs-target="#demoModal" href="javascript:void(0);"> Contact </a>
                        </li>
                        <li>
                            <a href="/terms_and_conditions"> Terms of Services </a>
                        </li>
                        <li>
                            <a href="/privacy_policy"> Privacy Policy </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="company_data">
                    <h6> Get Started </h6>
                    <ul>
                        <li>
                            <a href="/signup"> Sign Up </a>
                        </li>
                        <li>
                            <a href="/login"> Log In </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_data">
                    <p> © 2024 All rights reserved. YourBestCandidateAI, LLC </p>
                </div>
            </div>
        </div>
    </div>
</section>