<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- slider -->
    <link rel="stylesheet" type="text/css" href="./static/assets/css/slick.css" />

    <!-- css -->
    <link rel="stylesheet" href="./static/assets/css/style.css">
    <link rel="shortcut icon" href="https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai-white-logo.png">

</head>

<title>YourBestCandidateAI</title>

</head>

<body>
    <header class="header-wrp">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="./static/images/Yourbestcandidateai.svg" style="filter: hue-rotate(66deg) saturate(150%);" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-disabled="true">Resources</a>
                        </li>
                    </ul>
                </div>
                <button class="btn header-btn"><a href="{{ url_for('login') }}"
                        style="color: white; text-decoration: none;">Book a Demo</a></button>
            </div>
        </nav>
    </header>

    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-text-box">
                        <h1>Find Top Talent Fast. YourBestCandidateAI.</h1>
                        <p class="hero-para-text">YourBestCandidateAI streamlines hiring with AI-powered candidate
                            selection.</p>
                        <button class="btn hero-btn starting_btn"><a href="{{ url_for('login') }}"
                                style="color: white; text-decoration: none;">Book a Demo</a></button>
                        <ul class="banifit-list">
                            <li>
                                <span class="icon"><i class="bi bi-check text-success"></i></span>
                                14 Day Free Trial
                            </li>
                            <li>
                                <span class="icon"><i class="bi bi-check text-success"></i></span>
                                Instant Access
                            </li>
                            <li>
                                <span class="icon"><i class="bi bi-check text-success"></i></span>
                                Cancel Anytime
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="video-section">
        <div class="video-wrp">
            <div class="ratio ratio-4x3">
                <iframe
                    src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Ffast.wistia.net%2Fembed%2Fiframe%2F15az7uebfw&display_name=Wistia%2C+Inc.&url=https%3A%2F%2Fslaterdigitalgroup.wistia.com%2Fmedias%2F15az7uebfw&image=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fa25f0e7fc90001c11173d7829034e562.jpg%3Fimage_crop_resized%3D960x540&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=wistia"
                    title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="our-clients">
        <div class="container">
            <div class="home-logos-section">
                <div style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="wrapper">
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/650065042371465c8fba124b_Noodle%20new-logo-1.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/65006504644bed4709d870b8_genesys.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/650065033bd74338d208af14_databricks-vector-logo-2022.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/650065031a4f766789bee8d3_ogilvy.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/650065033bd74338d208af14_databricks-vector-logo-2022.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="generator-work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="generator-wrp">
                        <h2 class="generator-title">How does YourBestCandidateAI work?</h2>
                        <p>Send it your ideal candidate profiles csv, then it uses AI to find the best matches from your
                            file of
                            applicants. Saves you time, focuses on top talent.</p>
                    </div>
                </div>
                <div class="">
                    <div class="AIContent">
                        <div class="firstSlide">
                            <div class="sliderdetails">
                                <div class="slidercontant">
                                    <div class="slidercontantHeading">
                                        <h3>Identify Top Talent Efficiently</h3>
                                    </div>
                                    <div class="slidercontantdetails">
                                        <p>Finding the best candidates can be challenging. Our suite of tools
                                            streamlines the process, enabling you to identify top talent quickly and
                                            effectively.</p>
                                        <div class="slidercontantmaindetailsBox">
                                            <div class="slidercontantmaindetails">
                                                <div class="slidercontantmaindetailsIcon">
                                                    <img src="./static/assets/images/rightIcon.svg" alt="Right Icon">
                                                </div>
                                                <p>Efficiently review and rank resumes with our batch analysis tool</p>
                                            </div>
                                            <div class="slidercontantmaindetails">
                                                <div class="slidercontantmaindetailsIcon">
                                                    <img src="./static/assets/images/rightIcon.svg" alt="Right Icon">
                                                </div>
                                                <p>Generate candidate profiles from resumes in minutes with our
                                                    AI-powered profile builder</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sliderVideo">
                                    <img src="./static/assets/images/Research.gif" alt="Research">
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="sliderdetails">
                                <div class="slidercontant">
                                    <div class="slidercontantHeading">
                                        <h3>Review and Select Candidates</h3>
                                    </div>
                                    <div class="slidercontantdetails">
                                        <p>Utilize our AI-powered tools to analyze and select the best candidates from
                                            your list, then easily integrate them into your hiring process.</p>
                                        <div class="slidercontantmaindetailsBox">
                                            <div class="slidercontantmaindetails">
                                                <img src="./static/assets/images/rightIcon.svg">
                                                <p>Analyze resumes with a user-friendly interface</p>
                                            </div>
                                            <div class="slidercontantmaindetails">
                                                <img src="./static/assets/images/rightIcon.svg">
                                                <p>Export selected candidates in multiple formats</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sliderVideo besttimeImg">
                                    <img src="./static/assets/images/besttime.png" alt="Best Time">
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="sliderdetails">
                                <div class="slidercontant">
                                    <div class="slidercontantHeading">
                                        <h3>Analyze Resumes and Optimize</h3>
                                    </div>
                                    <div class="slidercontantdetails">
                                        <p>Analyze resumes and refine your candidate selection process. Specify your
                                            criteria and preferences to find the best candidates.</p>
                                        <div class="slidercontantmaindetailsBox">
                                            <div class="slidercontantmaindetails">
                                                <img src="./static/assets/images/rightIcon.svg" alt="Right Icon">
                                                <p>Identify key skills and experiences for optimal candidate matches</p>
                                            </div>
                                            <div class="slidercontantmaindetails">
                                                <img src="./static/assets/images/rightIcon.svg" alt="Right Icon">
                                                <p>Customize search parameters to fit your hiring needs</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sliderVideo DescribeGif">
                                    <img src="./static/assets/images/Describe.gif" alt="Describe">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Create-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="generator-wrp">
                        <h2 class="generator-title" style="max-width: 713px;">Effortlessly Find Top Candidates</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="CreateContentimg">
                        <img src="./static/assets/images/Autowriter.png">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="CreateContent">
                        <h3>Never Miss a Potential Hire</h3>
                        <p>Every candidate is unique, just like your brand's voice. YourBestCandidateAI ensures you
                            maintain consistency in your hiring process while accommodating diverse candidate profiles.
                        </p>
                        <div class="CreateContentDetails">
                            <img src="./static/assets/images/brand.svg">
                            <div>
                                <h5>Stay Consistent</h5>
                                <p>Consistently assess candidates based on your brand's values and requirements.</p>
                            </div>
                        </div>
                        <div class="CreateContentDetails">
                            <img src="./static/assets/images/consistency.svg">
                            <div>
                                <h5>Ensure Quality</h5>
                                <p>Guarantee that every candidate aligns with your company's culture and expectations.
                                </p>
                            </div>
                        </div>
                        <div class="CreateContentDetails">
                            <img src="./static/assets/images/creation.svg">
                            <div>
                                <h5>Streamline Hiring</h5>
                                <p>Accelerate your hiring process without compromising on candidate fit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Create-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="CreateContent modelsBox">
                        <h3>One AI for Optimal Candidate Selection</h3>
                        <p>YourBestCandidateAI harnesses the power of cutting-edge AI models, including proprietary
                            algorithms and industry-leading technologies, to revolutionize your candidate selection
                            process. By integrating advanced models like GPT-4 and Anthropic, we ensure unparalleled
                            accuracy and efficiency in candidate evaluation.</p>
                        <p>Our AI seamlessly adapts to your hiring needs, providing reliable insights and
                            recommendations even in the most challenging scenarios. Experience the future of recruitment
                            today!</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="CreateContentimg modelsBoxImg">
                        <img src="./static/assets/images/models.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Create-Content">
        <div class="container">
            <div class="row aligns-center">
                <div class="col-lg-6">
                    <div class="CreateContentimg SecurityImg">
                        <img src="./static/assets/images/Security.png">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="CreateContent modelsBox">
                        <h3>Security and Confidentiality</h3>
                        <p>YourBestCandidateAI prioritizes the protection of your data with state-of-the-art security
                            features that continuously evolve to meet the latest standards. Our data centers are located
                            in secure facilities within the United States, ensuring the highest level of data integrity
                            and privacy.</p>
                        <p>We never retain ownership of your candidate data, guaranteeing complete confidentiality
                            throughout the recruitment process. Trust YourBestCandidateAI for a secure and reliable
                            candidate selection experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial_wrp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_item">
                        <div class="first_testimonial">
                            <div class="quote_data">
                                <img src="./static/assets/images/quote.svg" alt="">
                            </div>
                            <div class="our_clients_dats">
                                <h3>"Efficient and Effective."</h3>
                                <p>"YourBestCandidateAI has transformed our hiring process, allowing us to identify top
                                    talent swiftly and accurately. With its intuitive interface and powerful AI models,
                                    we can now make informed decisions with confidence."</p>
                            </div>
                            <div class="personal_info">
                                <div class="personal_profile">
                                    <img src="./static/assets/images/client.png" alt="">
                                </div>
                                <div class="profile_name">
                                    <p>Sophia Thompson</p>
                                </div>
                            </div>
                        </div>
                        <!-- other testimonials -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="writing_tools">
        <div class="container">
            <div class="tools_wrp">
                <h2>Unlock the Power of AI Recruitment Tools</h2>
            </div>
            <div class="row tool_cards">
                <div class="col-lg-6">
                    <div class="blog_writer">
                        <div class="tool_data">
                            <img src="./static/assets/images/tool.svg" alt="">
                        </div>
                        <div class="blog_details">
                            <h6>AI Resume Screening</h6>
                            <p>Leverage AI-powered tools to screen resumes and identify top candidates effortlessly.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog_writer">
                        <div class="tool_data">
                            <img src="./static/assets/images/tool.svg" alt="">
                        </div>
                        <div class="blog_details">
                            <h6>Interview Scheduling</h6>
                            <p>Streamline the interview process with AI-powered scheduling tools, ensuring a smooth and efficient experience for both candidates and recruiters.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="transformation_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="transform_details">
                        <h2>Transform Your Hiring Process Today!</h2>
                        <p>Discover the future of recruitment with YourBestCandidateAI. Start your free trial now!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="footer_wrp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <div class="footer_social_data">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="./static/images/Yourbestcandidateai.svg" style="filter: hue-rotate(66deg) saturate(150%);" alt="">
                            </a>
                        </div>

                        <div class="footer_text">
                            <p>
                                <a href="#">
                                    hello@yourbestcandidate.ai
                                </a>
                            </p>
                        </div>

                        <div class="footer_icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="company_data">
                                <h6>
                                    Company
                                </h6>

                                <ul>
                                    <li>
                                        <a href="#">
                                            About
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="company_data">
                                <h6>
                                    Resources
                                </h6>

                                <ul>
                                    <li>
                                        <a href="#">
                                            Blog
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Pricing
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Reviews
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Integrations
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="company_data">
                                <h6>
                                    Free Tools
                                </h6>

                                <ul>
                                    <li>
                                        <a href="#">
                                            Chrome Extension
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="company_data">
                                <h6>
                                    Get Started
                                </h6>

                                <ul>
                                    <li>
                                        <a href="#">
                                            Sign Up
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Log In
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_data">
                        <p>
                            © All rights reserved. YourBestCandidateAI, LLC
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="./static/assets/js/slick.min.js"></script>
    <script src="./static/assets/js/custom.js"></script>


</body>

</html>