<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- slider -->
    <link rel="stylesheet" type="text/css" href="./static/assets/css/slick.css" />

    <!-- css -->
    <link rel="stylesheet" href="./static/assets/css/style.css">

</head>

<title>Document</title>

</head>

<body>
    <header class="header-wrp">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="./static/assets/images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-disabled="true">Resources</a>
                        </li>
                    </ul>
                </div>
                <button class="btn header-btn">Start Writing</button>
            </div>
        </nav>
    </header>

    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-text-box">
                        <h1>Supercharge Your Content Creation with Autowriter AI</h1>
                        <p class="hero-para-text">Harness the power of AI to create SEO-optimized and plagiarism-free
                            content for your blogs,
                            ads,
                            emails, and website <b>10X faster.</b></p>
                        <button class="btn hero-btn starting_btn">Start Writing</button>
                        <ul class="banifit-list">
                            <li>
                                <span class="icon"><i class="bi bi-check text-success"></i></span>
                                10 Day Free Trial
                            </li>
                            <li>
                                <span class="icon"><i class="bi bi-check text-success"></i></span>
                                Instant Access
                            </li>
                            <li>
                                <span class="icon"><i class="bi bi-check text-success"></i></span>
                                Cancel Anytime
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="video-section">
        <div class="video-wrp">
            <div class="ratio ratio-4x3">
                <iframe
                    src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Ffast.wistia.net%2Fembed%2Fiframe%2F15az7uebfw&display_name=Wistia%2C+Inc.&url=https%3A%2F%2Fslaterdigitalgroup.wistia.com%2Fmedias%2F15az7uebfw&image=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fa25f0e7fc90001c11173d7829034e562.jpg%3Fimage_crop_resized%3D960x540&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=wistia"
                    title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="our-clients">
        <div class="container">
            <div class="home-logos-section">
                <div style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="wrapper">
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/650065042371465c8fba124b_Noodle%20new-logo-1.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/65006504644bed4709d870b8_genesys.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/650065033bd74338d208af14_databricks-vector-logo-2022.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/650065031a4f766789bee8d3_ogilvy.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                    <div class="home-logo-item"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <img src="https://assets-global.website-files.com/64ff3b820bbf0a5647cf20b1/650065033bd74338d208af14_databricks-vector-logo-2022.svg"
                            loading="lazy" alt="" class="image contain">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="generator-work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="generator-wrp">
                        <h2 class="generator-title">How does AI Content
                            Generator work?</h2>
                        <p> Give our AI a few keywords and we'll automatically create blog articles, product
                            descriptions,
                            artwork and more for you with just a click of a button. </p>
                    </div>
                </div>
                <div class="">
                    <div class="AIContent">
                        <div class="firstSlide">
                            <div class="sliderdetails">
                                <div class="slidercontant">
                                    <div class="slidercontantHeading">
                                        <h3>Generate quality, factual content</h3>
                                    </div>
                                    <div class="slidercontantdetails">
                                        <p>Writing great content isn't easy. We've got a suite of tools that can help
                                            you create high quality content at scale.</p>
                                        <div class="slidercontantmaindetailsBox">
                                            <div class="slidercontantmaindetails">
                                                <div class="slidercontantmaindetailsIcon">
                                                    <img src="./static/assets/images/rightIcon.svg">
                                                </div>
                                                <p>Instantly batch generate product descriptions, SEO copy & more with
                                                    our
                                                    batch generation tool</p>
                                            </div>
                                            <div class="slidercontantmaindetails">
                                                <div class="slidercontantmaindetailsIcon">
                                                    <img src="./static/assets/images/rightIcon.svg">
                                                </div>
                                                <p>Blog article wizard takes you from title to a 1,000 word article in
                                                    just
                                                    minutes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sliderVideo">
                                    <img src="./static/assets/images/Research.gif">
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="sliderdetails">
                                <div class="slidercontant">
                                    <div class="slidercontantHeading">
                                        <h3>Review and publish copy</h3>
                                    </div>
                                    <div class="slidercontantdetails">
                                        <p>Use our AI-powered editing tools to enhance your content, then publish it to
                                            your favorite platforms.</p>
                                        <div class="slidercontantmaindetailsBox">
                                            <div class="slidercontantmaindetails">
                                                <img src="./static/assets/images/rightIcon.svg">
                                                <p>Edit in a clean, minimalist editor</p>
                                            </div>
                                            <div class="slidercontantmaindetails">
                                                <img src="./static/assets/images/rightIcon.svg">
                                                <p>Export in multiple formats</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sliderVideo besttimeImg">
                                    <img src="./static/assets/images/besttime.png">
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="sliderdetails">
                                <div class="slidercontant">
                                    <div class="slidercontantHeading">
                                        <h3>Describe</h3>
                                    </div>
                                    <div class="slidercontantdetails">
                                        <p>Describe your topic or goal. Specify the keyword (optional) you wish to rank
                                            for. Choose your output language from 25+ options.</p>
                                        <div class="slidercontantmaindetailsBox">
                                            <div class="slidercontantmaindetails">
                                                <img src="./static/assets/images/rightIcon.svg">
                                                <p>Include any SEO keywords you want to rank for.</p>
                                            </div>
                                            <div class="slidercontantmaindetails">
                                                <img src="./static/assets/images/rightIcon.svg">
                                                <p>Customize your copy with tone and perspective options</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sliderVideo DescribeGif">
                                    <img src="./static/assets/images/Describe.gif">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Create-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="generator-wrp">
                        <h2 class="generator-title" style="max-width: 713px;">The Smartest & Easiest Way to
                            Create Content</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="CreateContentimg">
                        <img src="./static/assets/images/Autowriter.png">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="CreateContent">
                        <h3>Never lose your voice.</h3>
                        <p>Tone of voice defines the conversation about your brand. Whether you speak boldly, cheekily,
                            formally, or only in internet speak (👋 u do u). Autowriter learns from your brand to help
                            you stay consistent, wherever you create.
                        </p>
                        <div class="CreateContentDetails">
                            <img src="./static/assets/images/brand.svg">
                            <div>
                                <h5>Stay on-brand</h5>
                                <p>
                                    Stay on-brand
                                    On-brand AI assisted content, everywhere you create.</p>
                            </div>
                        </div>
                        <div class="CreateContentDetails">
                            <img src="./static/assets/images/consistency.svg">
                            <div>
                                <h5>
                                    Ensure consistency</h5>
                                <p>
                                    See to it that all of your content aligns with your brand's tone, style, and
                                    business.</p>
                            </div>
                        </div>
                        <div class="CreateContentDetails">
                            <img src="./static/assets/images/creation.svg">
                            <div>
                                <h5>Scale content creation</h5>
                                <p>Create content 10x faster – without losing what makes your brand unique.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Create-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="CreateContent modelsBox">
                        <h3>One AI tool, all the best models.</h3>
                        <p>Autowriter goes beyond being a mere language model. Powered by Autowriter's AI Engine, it
                            combines the strengths of top models like OpenAI's GPT-4, Anthropic, and Google's models. On
                            top of that, Autowriter infuses these outputs with the latest search data, your brand's
                            unique voice, and optimization tools such as SEO and grammar.</p>
                        <p>Our interoperability across models makes us exceptionally reliable even in challenging
                            situations. How awesome is that?</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="CreateContentimg modelsBoxImg">
                        <img src="./static/assets/images/models.png">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="Create-Content">
        <div class="container">
            <div class="row alings-center">
                <div class="col-lg-6">
                    <div class="CreateContentimg SecurityImg">
                        <img src="./static/assets/images/Security.png">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="CreateContent modelsBox">
                        <h3>Security & Privacy</h3>
                        <p>Autowriter prioritizes the safety and security of your data with robust built-in features
                            that constantly adapt to evolving security protocols. All our data centers are located in
                            the U.S., and rest assured that your data is completely isolated from our AI/ML models.</p>
                        <p>We never retain ownership of your outputs, ensuring your information remains strictly
                            confidential throughout the entire process.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial_wrp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_item">
                        <div class="first_testimonial">

                            <div class="quote_data">
                                <img src="./static/assets/images/quote.svg" alt="">
                            </div>

                            <div class="our_clients_dats">
                                <h3>
                                    "Easy to use and navigate."
                                </h3>

                                <p>
                                    "Autowriter lets us create a month’s worth of content in one week for our clients,
                                    allowing us to spend the rest of the month engaging and optimizing.”
                                </p>
                            </div>

                            <div class="personal_info">
                                <div class="personal_profile">
                                    <img src="./static/assets/images/client.png" alt="">
                                </div>

                                <div class="profile_name">
                                    <p>
                                        Sophia Thompson
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="first_testimonial">

                            <div class="quote_data">
                                <img src="./static/assets/images/quote.svg" alt="">
                            </div>

                            <div class="our_clients_dats">
                                <h3>
                                    "One stop shop for all your creative content generation."
                                </h3>

                                <p>
                                    New content creators often struggle to understand how to make their content stand
                                    out. However, with Autowriter's advanced AI, I went from zero to hero in a matter of
                                    seconds and now I feel I can do better and better."
                                </p>
                            </div>

                            <div class="personal_info">
                                <div class="personal_profile">
                                    <img src="./static/assets/images/client-2.png" alt="">
                                </div>

                                <div class="profile_name">
                                    <p>
                                        David R., Freelancer
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="first_testimonial">

                            <div class="quote_data">
                                <img src="./static/assets/images/quote.svg" alt="">
                            </div>

                            <div class="our_clients_dats">
                                <h3>
                                    If there was 7 stars I would give it. TREMENDOUS!
                                </h3>

                                <p>
                                    I have used some AI writing tools like Rytr, Peppertype, and Jasper but I found
                                    Autowriter to be the best for writing complete blog posts. Just follow the steps and
                                    you will have an amazing article ready to publish.
                                </p>
                            </div>

                            <div class="personal_info">
                                <div class="personal_profile">
                                    <img src="./static/assets/images/client-3.png" alt="">
                                </div>

                                <div class="profile_name">
                                    <p>
                                        Dorothea K., Ecommerce Owner
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="writing_tools">
        <div class="container">
            <div class="tools_wrp">
                <h2>
                    50+ Powerful AI Writing Tools at your Fingertips.
                </h2>
            </div>

            <div class="row tool_cards">
                <div class="col-lg-6">
                    <div class="blog_writer">
                        <div class="tool_data">
                            <img src="./static/assets/images/tool.svg" alt="">
                        </div>

                        <div class="blog_details">
                            <h6>
                                AI Blog Writer
                            </h6>

                            <p>
                                Generate engaging blog posts effortlessly and boost your online presence.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="blog_writer">
                        <div class="tool_data">
                            <img src="./static/assets/images/tool.svg" alt="">
                        </div>

                        <div class="blog_details">
                            <h6>
                                Facebook Ads
                            </h6>

                            <p>
                                Create high-performing Facebook Ads to generate more leads.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="blog_writer">
                        <div class="tool_data">
                            <img src="./static/assets/images/tool.svg" alt="">
                        </div>

                        <div class="blog_details">
                            <h6>
                                Product Descriptions
                            </h6>

                            <p>
                                Craft epic product descriptions for your eCommerce store.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="blog_writer">
                        <div class="tool_data">
                            <img src="./static/assets/images/tool.svg" alt="">
                        </div>

                        <div class="blog_details">
                            <h6>
                                Landing Page Headlines
                            </h6>

                            <p>
                                Capture your visitors’ attention with these landing page headlines.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="transformation_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="transform_details">
                        <h2>
                            Transform the way you handle your marketing, transform the way you do business.
                        </h2>

                        <p>
                            See how easy it can be to write amazing content. Start your free trial today!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer_wrp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <div class="footer_social_data">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="./static/assets/images/logo.png" alt="">
                            </a>
                        </div>

                        <div class="footer_text">
                            <p>
                                <a href="#">
                                    hello@autowriter.ai
                                </a>
                            </p>
                        </div>

                        <div class="footer_icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="company_data">
                                <h6>
                                    Company
                                </h6>

                                <ul>
                                    <li>
                                        <a href="#">
                                            About
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="company_data">
                                <h6>
                                    Resources
                                </h6>

                                <ul>
                                    <li>
                                        <a href="#">
                                            Blog
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Pricing
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Reviews
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Integrations
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="company_data">
                                <h6>
                                    Free Tools
                                </h6>

                                <ul>
                                    <li>
                                        <a href="#">
                                            Chrome Extension
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="company_data">
                                <h6>
                                    Get Started
                                </h6>

                                <ul>
                                    <li>
                                        <a href="#">
                                            Sign Up
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Log In
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_data">
                        <p>
                            © All rights reserved. Autowriter, LLC
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="./static/assets/js/slick.min.js"></script>
    <script src="./static/assets/js/custom.js"></script>


</body>

</html>