<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Style Css -->
    <link rel="stylesheet" href="https://www.yourbestcandidate.ai/static/css/style.css">
    <link rel="shortcut icon" href="https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai-white-logo.png">
    <title>Reset Password</title>

</head>

<body>



    <div class="container-fluid">
        <div class="row login-row">
            <!-- Image -->
            <div class="col-lg-6 p-0">
                <div class="login-left-box">
                    <div class="login-img">
                        <img src="https://www.yourbestcandidate.ai/static/images/login_img_two.jpg" class="img-fluid"
                            alt="Login Image">
                    </div>
                    <div class="login-content">
                        <div class="logo">
                            <img src="https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai-white-logo.svg"
                                alt="">
                        </div>
                        <div class="login-title-text">
                            <h2> <span>Welcome to</span>
                                <p>Hire Smart AI Recruitment Software</p>
                            </h2>
                            <p class="title-sub-text">Please enter your email to reset your password.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <div class="col-lg-6  p-0">
                <div class="login-form">
                    <div class="login-form-data-box">
                        <h2 class="login-form-title">Forgot Password</h2>
                        <form id="resetForm">
                            <div class="mb-3">
                                <div class="input-group">
                                    <input type="email" class="form-control" name="userEmail" id="email"
                                        placeholder="Email" aria-describedby="inputGroup-sizing-default" required
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}\.[a-z]{2,}$"
                                        title="Please enter a valid email address.">
                                </div>
                            </div>
                            <button type="submit" class="login-btn w-100">Submit</button>
                            <p id="errorMessage" class="text-danger text-center"></p>
                            <p id="successMessage" class="text-success text-center"></p>
                            <div class="back-to-login text-center">
                                <p>
                                    <b></b> Back to <a href="/login">Login</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://www.yourbestcandidate.ai/static/js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#resetForm').on('submit', function (e) {
                e.preventDefault();  // Prevent the default form submission
                var userEmail = $('#email').val();
                var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
                if (!emailRegex.test(userEmail)) {
                    $('#errorMessage').text('Please enter a valid email address.');
                    return;
                } else {
                    $('#errorMessage').text('');
                }

                var formData = new FormData(this);  // Create a FormData object from the form

                $.ajax({
                    url: '/reset_password',  // Endpoint to send data
                    type: 'POST',
                    data: formData,
                    processData: false,  // Tell jQuery not to process the data
                    contentType: false,  // Tell jQuery not to set contentType
                    success: function (response) {
                        $('#successMessage').text(response.message);  // Display error message on the page
                    },
                    error: function (xhr, status, error) {
                        $('#errorMessage').text('Something went wrong!');  // Display error message on the page
                    }
                });
            });
        });
    </script>
</body>

</html>